<app-security-navbar></app-security-navbar>
<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
          <div class="row">
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center align-items-center mt-5">
                  <div style="width: 25rem;" class="card mb-4">
                      <div class="card-body text-center">
                          <img  src="https://img.freepik.com/premium-vector/police-security-cartoon-worker-character-illustration_8032-18.jpg"
                              alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                          <h5 class="my-3">{{userdata[0].sname}}</h5>
                          <p class="text-muted mb-1">Email: {{userdata[0].address}}</p>
                          <p class="text-muted mb-1">Phone: {{userdata[0].mobno}}</p>
                          <p class="text-muted mb-1">Username: {{userdata[0].username}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>